MainWindow {
  background-color: #444
}

QScrollArea {
  border: 1px solid red;
  border-radius: 5px;
  background: transparent;
}

QScrollArea #scrollAreaWidgetContents {
  background: transparent;
}

GroupWidget {
  border: 1px solid blue;
  background-color: #555;
  width: 150px;
  border-radius: 7px;
}

TaskWidget {
  border: 1px solid #666;
  background-color: #777;
  border-radius: 5px;
}